*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.wapping{
    max-width: 1024px;
    margin: auto;
    background-color: #fafafa;
    /* flex-wrap: wrap; */
}
.menu{
    background: #ddd;
}

.menu ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}
.menu ul li{
    flex-grow: 0;
}
.menu li a{
    padding: 20px 40px;
    color: tomato;
    font-weight: bold;
    display: block;
    border: 1px solid #ddd;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
}
.menu ul li a:hover{
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}
.banner-sectiom{
    background: url(https://i.ibb.co/wYszYV7/15.jpg) no-repeat center center;
    padding: 200px 0;
    background-size: cover;
    text-align: center;
    color: tomato;
}
.row-2{
    display: flex;
    flex: 1;
    margin-top: 10px;
    
}
.flex-item{
    border: 1px solid #78e08f;
    padding: 10px;
}
.row-3{
     display: flex; 
     margin-top: 10px;
     justify-content: center;
     align-items: center;
     
}
.row-3-item{
    border: 1px solid rosybrown;
    padding: 10px;
    flex-basis: 30%;
}
.bigger-div{
    flex-basis: 70%;
    margin-right: 20px;
    
}
.row-4{
    display: flex;
    margin-top: 20px;
    text-align: justify;
}

.row-4-item{
    border: 1px solid sandybrown;
    padding: 10px;
    flex: 1 0 0%;
    height: 5   00px;
}
.row-4-bigger{
    flex-grow: 3;

}

